<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
    <link rel="icon" href="../static/img/logoutn.ico">
    <link rel="stylesheet" href="../static/css/registro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="../principal.html"></a>
                <img src="../static/img/logoutnsolo01.jpeg" alt="Logo UTN">
                <span class="logo-text">CS</span>
            </div>
           
        </nav>    
        </header>
    <main>
        <section class="form-style">
            <h2>Registro Alumnos Curso</h2>
            <form action="" method="get" id="formRegister">
                <div class="form-control">
                    <label for="nombre"> Nombre:</label>
                    <input type="text" id="nombre" name="nombre"> 
                </div>
                <div class="error" id="error-nombre"></div>
                <div class="form-control">
                    <label for="apellido"> Apellido:</label>
                    <input type="text" id="apellido" name="apellido">
                </div>
                <div class="error" id="error-apellido"></div>
                <div class="form-control">
                    <label for="correo"> Email:</label>
                    <input type="email" id="correo" name="email">
                </div>
                <div class="error" id="error-correo"></div>
                <div class="form-control">
                    <label for="legajo"> Legajo:</label>
                    <input type="number" id="legajo" name="legajo">
                </div>
                <div class="error" id="error-legajo"></div>
                <div class="form-control">
                    <label for="nacimiento">Fecha de Nacimiento</label>
                    <input type="date"  id="nacimiento" name="nacimiento">
                </div>
                <div class="form-control">
                    <label for="curso"> Curso</label>
                    <select name="turno" id="curso" class="form-select">
                        <option value="">--Seleccione</option>
                        <option value="manana">mañana</option>
                        <option value="tarde">tarde</option>
                    </select>
                </div>
                <div class="form-control">
                    <label for="contrasena">Password</label>
                    <input type="password"  id="contraseña" name="contraseña">
                </div>
                <div class="error" id="error-contraseña"></div>
                <div class="form-terms"> 
                    <div class="terms">
                        <input type="checkbox" id="terms">
                        <label for="terms">Acepto términos y condiciones</label>
                    </div>
                </div>




                
                <div class="botones">

                    <a class="button_a" href="../principal.html">Atras</a>
                    <button type="submit" id="btn-send" class="button_a"> 
                    Registrarse
                    </button>
                </div>
        
        
            </form>

        </section>
    </main>
    
    <script src="../static/js/validation-registro.js"></script>    
</body>
</html>