<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../static/css/contacto.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="../principal.html"></a>
                <img src="../static/img/logoutnsolo01.jpeg" alt="Logo UTN">
                <span class="logo-text">CS</span>
            </div>
           
        </nav>    
        </header>
         
    <main>
        <section class="form-style">
            <h2>Envianos su consulta</h2>
            <form  action="">
                <div class="form-control">
                    <label for="nombre"> Nombre:</label>
                    <input type="text" id="nombre" name="nombre"> 
                </div>
                <div class="form-control">
                    <label for="apellido"> Apellido:</label>
                    <input type="text" id="apellido" name="apellido">
                </div>
                <div class="form-control">
                    <label for="correo"> Email:</label>
                    <input type="email" id="correo" name="correo">
                </div>
                <div class="form-control">
                    <label for="turno">Curso</label>
                    <select name="turno" id="curso">
                        <option value="">--Seleccione</option>
                        <option value="manana">mañana</option>
                        <option value="tarde">tarde</option>
                    </select>
                </div>
                <div class="form-control">
                    <textarea name="consulta" rows="4" cols="40">  Escriba su consulta aqui!</textarea>
                </div>
                <div class="botones">
                    <a class="button_a" href="../principal.html">Atras</a>
                    <button type="submit" id="btn-send" class="button_a"> 
                    Enviar
                    </button>
                </div>   
            </form>
        </section>
    </main>
    <script src="../static/js/validation-contacto.js"></script>   

</body>
</html>