<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
    <link rel="icon" href="imagen/logoutn.ico">
    <link rel="stylesheet" href="../static/css/docentes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="../principal.html"></a>
                <img src="../static/img/logoutnsolo01.jpeg" alt="Logo UTN">
                <span class="logo-text">CS</span>
            </div>
           
        </nav>    
        </header>
    
    <main>
        <section class="form-style">
            <h2>Registro Docente</h2>
            <form action="" method="get">
                <div class="form-control">
                    <label for="nombre"> Nombre:</label>
                    <input type="text" id="nombre" name="Nombre"> 
                </div>
                <div class="form-control">
                    <label for="apellido"> Apellido:</label>
                    <input type="text" id="apellido" name="Apellido">
                </div>
                <div class="form-control">
                    <label for="correo"> Email:</label>
                    <input type="email" id="correo" name="Email">
                </div>

                <div class="form-control">
                    <label for="tipoDocente"> Tipo</label>
                    <select name="tipoDocente" id="Tipo" class="form-select">
                        <option value="">--Seleccione</option>
                        <option value="titular">A cargo</option>
                        <option value="jtp">JTP</option>
                        <option value="laboratorio">Laboratorio</option>
                        <option value="ayudante">ayudante</option>
                    </select>
                </div>
                <div class="form-control">
                    <label for="contrasena">Password</label>
                    <input type="password"  id="contraseña" name="Password">
                </div>


                <div>
                    <a class="button_a" href="../principal.html">Atras</a>
                    <input class="button_a" type="submit" value="Enviar">
                </div>
        
            </form>


        </section>
    </main>
    
    
</body>
</html>