<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
    <link rel="icon" href="imagen/logoutn.ico">
    <link rel="stylesheet" href="../static/css/ingreso.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <header>
            <nav class="navbar">
                <div class="logo">
                    <a href="../principal.html"></a>
                    <img src="../static/img/logoutnsolo01.jpeg" alt="Logo UTN">
                    <span class="logo-text">CS</span>
                </div>
               
            </nav>    
            </header>
    </header>
    <main>
        <section class="form-style">
            <h2>Ingreso a la Plataforma</h2>
            <form action="" method="get">
    
                <div class="form-control">
                    <select name="Usuario" id="usuario" class="form-select">
                        <option value="">--Seleccione</option>
                        <option value="alumno">Alumno</option>
                        <option value="docente">Docente</option>
                    </select>
                </div>
                <div class="form-control">

                    <label for="correo"> Email:</label>
                    <input type="email" id="correo" name="Email">
                </div>
    
                <div class="form-control">
                    <label for="contrasena">Password</label>
                    <input type="password"  id="contraseña" name="Password">
                </div>
         
               <div>
                    <input class="button_a" type="submit" value="enviar">
               </div>
        
        <div class="form-registro">
                <h1>Registráte</h1>
                <a href="alumnos.html"><input class="button_a" type="button" value="Alumno"></a>
                <a href="docente.html"><input class="button_a" type="button" value="Docente"></a>
                
            </div>
            </form>
    
            
        </section>    
    </main>
</body>
</html>