<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso 1</title>
    <link rel="icon" href="imagen/logoutn.ico">
    <link rel="stylesheet" href="../estilo/eprincipal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="flex">
            <div id="logo">
                <img  src="../imagen/logouinsolo.png" alt="Logo utn">
                <!-- <figcaption>Logo de la UTN</figcaption> -->
            </div>
            <h1>Unidad 1</h1>
    
    
            <div id="session">
                 <img src="../imagen/Icono usuario.png" alt="icono usuario">
                    <figcaption></figcaption>
                        <a href="./Ingreso.html">
                            <input class="button" type="button" value="Loguearse">    
                        </a>
            </div>
        </div>    

        <nav class=navbar>
            <ul class="nav-link">
                <li><a href="../principal.html">Inicio</a></li>
                <li><a href="#">curso</a></li>
                <li><a href="#">Unidades</a></li>
                <li><a href="./alumnos.html">Registro</a></li>
                <li><a href="#">Consulta</a></li>
                <li> <a href="#">contacto</a></li>
            </ul>

        </nav>
    </header>
    <main>
        <section class="caja-flex">
            <div class="tema1-imagen">
                <img src="../imagen/tema1.jpg" alt="referente al tema1">
            </div>
            <div>
                <p class="tema1-parrafo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat praesentium quae, natus nostrum unde necessitatibus id officiis cupiditate tempora quis voluptatem dolor possimus sequi eveniet laboriosam, sapiente voluptate. Cupiditate, pariatur?</p>
            </div>

        </section>
    </main>
    
</body>